.main-playlist-container {
  position: fixed;
  top: 90px;
  left: 5%;
  right: 5%;
  z-index: 1000;
}
.my-playlist {
  font-family: "Patrick Hand", cursive;
  text-transform: uppercase;
  letter-spacing: 2rem;
  margin-bottom: 20px;
  margin-top: 10px;
  color: aquamarine;
}

.create-playlist {
  border-radius: 20px;
  font-family: "Patrick Hand", cursive;
  background-color: rgb(15, 15, 48);
  border: 2px solid white;
}
.create-playlist:hover {
  /* background-color: rgb(51, 51, 128); */
  background-color: rgb(15, 15, 48);
  color: aquamarine;
  border: 2px solid white;
}
@media (max-width: 611px) {
  .my-playlist {
    font-size: 1rem;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .main-playlist-container {
    display: none;
  }
  .my-playlist {
    display: none;
  }
  .create-playlist {
    display: none;
  }
}
