.song-list {
  padding-top: 10px;
  overflow: auto;
  height: 82vh;
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
}
@media (max-width: 1022px) {
  .song-list {
    top: 110px;
    height: 75vh;
  }
}
/* this applies from 0px to 600px */
@media (max-width: 600px) {
  .song-list {
    top: 100px;
    right: 10px;
    left: 10px;
    height: 85vh;
  }
}
