.link-text {
  font-family: "Patrick Hand", cursive;
  font-size: 1.3rem;
  margin-right: 15px;
  border-radius: 50px;
  transition: background-color 0.3s;
}
.link-text:hover {
  /* background-color: #1e245e; */
  background-color: rgb(33, 33, 38);
}
.front-icon {
  color: aquamarine;
}
